body {
    background-color: black;
    color: #ffffff;
}

.text-link {
    color: #ffffff;
}
.nav-link:hover {
    color: #38BACC;
}

.active {
    color: #38BACC;
}

.form-control {
    color: #848484;
    background-color: #202020;
    border: none;
}

.form-control:focus {
    color: #848484;
    background-color: #202020;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.card {
    background-color: transparent;
    border: none;
}